<!doctype html>
<html lang="en">

    <head>
        <title>Boolzap</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- fontAwesome -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">

        <!-- myCSS -->
        <link rel="stylesheet" href="./assets/css/style.css">

    </head>

    <body>
        <div id="app">

            <div
                class="gradient-background d-flex align-items-center justify-content-center">

                <div class="container">
                    <div class="interface vh-80">
                        <div class="row h-100">

                            <div class="col-5 bg-principal p-0 h-100">

                                <div class="user d-flex p-2">
                                    <div class="info d-flex align-items-center">

                                        <img src="assets/img/avatar_io.jpg" alt
                                            class="rounded-circle w-15 py-2">
                                        <p class="m-0">Sofia</p>
                                    </div>
                                    <div
                                        class="actions w-25 d-flex align-items-center justify-content-between">

                                        <i class="fa-solid fa-circle-notch"></i>
                                        <i class="fa-solid fa-message"></i>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>

                                    </div>
                                </div>
                                <!-- /.user -->

                                <div
                                    class="notify d-flex align-items-center p-3">
                                    <div
                                        class="circle_icon bg-white d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-bell-slash"></i>
                                    </div>
                                    <div class="px-4">

                                        <p>ricevi notifiche di nuovi messaggi</p>
                                        <span><a href>Attiva notifiche Desktop</a></span>
                                    </div>
                                </div>
                                <!-- /.notify -->

                                <div
                                    class="search_chat border-bottom my-1 mx-2 p-2 rounded-2 shadow ">
                                    <button class="border-0 bg-transparent w-15"><i
                                            class="fa-solid fa-magnifying-glass "></i></button>
                                    <input type="text"
                                        class="border-0 bg-transparent w-75"
                                        placeholder="cerca o inizia una nuova chat"
                                        v-model="userToSearch">
                                </div>
                                <!-- /.search_chat -->

                                <div class="contacts p-2 ">
                                    <div class="contacts_container h-100">

                                        <div
                                            v-show="contact.name.includes(userToSearch)"
                                            v-for="(contact,index) in contacts"
                                            class="single_contact d-flex justify-content-between border-bottom py-2"
                                            @click="activationContact(index)">
                                            <div class="d-flex">

                                                <img :src='contact.avatar'
                                                    alt="contact.name"
                                                    class="w-15 rounded-circle">
                                                <div class="contact_info">
                                                    <h4 class="username ">
                                                        {{contact.name}}
                                                    </h4>
                                                    <span>{{contact.messages[contact.messages.length
                                                        - 1].message}}</span>
                                                </div>
                                            </div>
                                            <span class="px-3">{{getDate(contact.messages[contact.messages.length
                                                - 1].date)}}</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.contacts -->

                            </div>
                            <!-- /.col-5 -->

                            <div class="col-7 p-0 h-100">
                                <div class="chat h-100">
                                    <div
                                        class="chat_contact_details bg-principal d-flex justify-content-evenly">
                                        <div
                                            class="info d-flex align-items-center">

                                            <img
                                                :src="contacts[activeContact].avatar"
                                                alt
                                                class="rounded-circle w-15 py-2">
                                            <div class="mx-2">

                                                <p class="m-0">{{contacts[activeContact].name}}</p>
                                                <span>ultimo accesso alle 12:00
                                                </span>

                                            </div>
                                        </div>
                                        <div
                                            class="actions w-20 d-flex align-items-center justify-content-between mx-4">

                                            <i class="fa-solid fa-circle-notch"></i>
                                            <i class="fa-solid fa-message"></i>
                                            <i
                                                class="fa-solid fa-ellipsis-vertical"></i>
                                        </div>
                                    </div>
                                    <!-- /.chat_contact_details -->

                                    <div class="chat_interface px-5 py-2">

                                        <div
                                            v-for="(message,index) in contacts[activeContact].messages"
                                            v-bind:class="(message.status === 'sent' ? 'sent' : 'recived')">

                                            <p>{{message.message}}</p>
                                            <span class="position-absolute px-1">{{getDate(message.date)}}</span>
                                        </div>

                                    </div>
                                    <!-- /.chat_interface -->

                                    <div
                                        class="send_message p-3 d-flex justify-content-evenly align-items-center">
                                        <form action
                                            class="w-100 d-flex justify-content-around align-items-center"
                                            @submit.prevent="sendMessage(newMessage)">
                                            <i class="fa-regular fa-face-smile"></i>

                                            <input type="text"
                                                class="border-0 bg-white w-75 p-2 rounded-1"
                                                placeholder="scrivi un messaggio"
                                                v-model="newMessage">
                                            <i class="fa-solid fa-microphone"></i>

                                        </form>

                                    </div>
                                    <!-- /.send_message -->

                                </div>
                            </div>
                        </div>
                        <!-- /.interface -->
                    </div>
                </div>
            </div>

        </div>

        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous">
  </script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous">
  </script>

        <!-- vue -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

        <!-- my JS -->
        <script type="text/JavaScript" src="./assets/js/main.js"></script>

        <!-- LUXON (JS library for date)-->
        <script src="
        https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js
        "></script>
    </body>

</html>