:root {
    --bz-app-principal: #a0a0a0;
    --bz-app-header: #009688;
    --bz-app-MsgSent: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}

.bg-principal {
    background-color: var(--bz-app-light);
}

.vh-80{
    height: 80vh;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.interface {
    max-width: 1124px;
    width: 100%;
    margin: auto;
}

.gradient-background {
    /*     background: rgb(255, 255, 255);
 */
    background: linear-gradient(0deg, var(--bz-app-principal) 82%, var(--bz-app-header) 82%);
    height: 100vh;
}

.actions {
    & i {
        font-size: 1.4rem;
        color: var(--bz-app-principal);
    }
}
.user{
    height: 80px;
}
.notify {
    background-color: var(--bz-app-focus);
    height: 80px;

    .circle_icon {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
    }

    & i {
        color: var(--bz-app-focus);
        font-size: 1.5rem;

    }

    & a {
        color: inherit;
    }
}

.search_chat {
    height: 50px;

    & i {
        color: var(--bz-app-principal);
    }
}

.contacts {

    height: calc(100% - 210px);

    & .contacts_container{
        overflow-y: scroll;
    }

    & .contact_info{
        margin-left: 0.8rem;
    }

    & h4 {
        margin: 0;
    }

    & span {
        color: var(--bz-app-principal);
    }

}

.chat {

    & .chat_contact_details{
        height: 80px;
    }

    & .chat_interface {
        overflow-y: scroll;
        height: calc(100% - 160px);
        background-image: url("../img/mine.jpg");
        background-position: center;
        background-size: contain;

        & .my_dropdown{
            top: 0rem;
            right: 0.4rem;

            & i{
            color: var(--bz-app-principal);

            }
        }

        & .sent {
            position: relative;
            margin-top: 1rem;
            margin-left: auto;
            width: 40%;
            border-radius: 6px;
            padding: 0.8rem;
            background-color: var(--bz-app-MsgSent);

            & span{
                bottom: 0.2rem;
                right: 0.2rem;
                font-size: 0.7rem;
                color: var(--bz-app-principal);
            }
            & p{
                margin-bottom: 0.5rem;
            }
        }

        & .recived {
            position: relative;
            margin-top: 1rem;
            margin-right: auto;
            width: 40%;
            border-radius: 6px;
            padding: 0.8rem;
            background-color: var(--bz-app-white);

            & span{
                bottom: 0.2rem;
                right: 0.2rem;
                font-size: 0.7rem;
                color: var(--bz-app-principal);
            }
            & p{
                margin-bottom: 0.5rem;
            }
        }
    }

    & .send_message {

        height: 80px;


        background-color: var(--bz-app-light);

        & i {
            font-size: 1.6rem;
            color: var(--bz-app-principal);
        }
    }

}